.alert {
  min-width: 50vw;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 0.25em;
}

.alert-success {
  background-color: rgb(180, 255, 180);
  border: 2px solid rgb(80, 255, 80);
}

.alert-error {
  background-color: rgb(255, 180, 180);
  border: 2px solid rgb(255, 80, 80);
}
.alert-text {
  font-family: "Futura", Arial, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.flash {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.alert-error .close {
  color: rgb(255, 80, 80);
}
.alert-success .close {
  color: rgb(80, 255, 80);
}
