<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="share icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/main.css') }}"
    />
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>

    <title>{% block title %} T! | {{ page_title }} {% endblock %}</title>
  </head>

  <body>
    <!-- navbar // -->
    <div class="navbar-div">
      <nav class="navbar">
        <a href="/">
          <div class="logo-link-box">
            <img
              class="logo-link"
              src="{{ url_for('static', filename='assets/images/logo.png') }}"
              alt="Home"
            />
            <span class="logo-text"> Teddit! </span>
          </div>
        </a>
        <div class="nav-link-box">
          {% if not user.is_authenticated %}
          <a href="/signup" class="navbar-link">Sign Up</a>
          <a href="/login" class="navbar-link">Login</a>
          {% else %}
          <a href="/post" class="navbar-link">&plus;</a>
          <a href="/logout" class="navbar-link">Logout</a>
          {% endif %}
        </div>
      </nav>
    </div>
    <!-- // navbar -->

    <!-- flash messages // -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="flash">
        <div class="alert alert-{{category}}" id="alert#{{message}}">
          <span class="alert-text">
            {{ message }}
            <span
              class="close"
              aria-hidden="true"
              onclick="hideAlert('alert#{{message}}');"
            >
              &times;
            </span></span
          >
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <!-- // flash messages -->

    <div class="centerer-div heading">{% block heading %} {% endblock %}</div>
    <div class="centerer-div content">
      {% block content %}
      <p>webpage lol</p>
      {% endblock %}
    </div>
  </body>
</html>
