<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.png') }}"
    />
    <link rel="stylesheet" href="static/style/main.css" />

    <title>{% block title %} T! | {{ page_title }} {% endblock %}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{category}}">
      <span class="alert-text">
        {{ message }}
        <button class="close" onclick="hideAlert(alert);">
          <span aria-hidden="true">&times; </span>
        </button></span
      >
    </div>
    {% endfor %} {% endif %} {% endwith %} {% block content %}
    <h1>I am a webpage</h1>
    <p>Wow!</p>
    {% endblock %}
  </body>
</html>
