{% extends "base.html" %} {% block heading %}
<h1>Login</h1>
{% endblock %} {% block content %}

<form method="POST" class="sign-up-form">
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Enter username"
      class="form-text"
    />

    <br />

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter password"
      class="form-text"
    />
    <br />
    <button type="submit" class="submit">Log In</button>
    <a href="/signup" class="auth-link">Sign Up</a>
  </div>
</form>

{% endblock %}
